/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

/* set legend format */

.box {
  padding: 6px 8px;
  font: 10px/12px Arial, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.legend {
  line-height: 24px;
  color: #000;
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
  opacity: .9;
}